:root {
    --primary-color: #49C8F3;
    --secondary-color: #05668D;
    --accent-color: #F4D35E;
    --neutral-light-color: #F6F7EB;
    --neutral-dark-color: #2C2C2C;
    --highlight-color: #EE964B;
}

body {
    margin: auto;
    /* margin-left: 10%;
    margin-right: 10%; */
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', 'Montserrat', sans-serif;
    background-color: var(--neutral-light-color);
    max-width: 1000px;
}

header,
footer {
    /* max-width: 1000px; */
    width: 100%;
    background-color: var(--neutral-dark-color);
    color: var(--neutral-light-color);
}

main {
    max-width: 900px;
}

main h2 {
    text-align: center;
}

.header-top {
    display: flex;
    /* background-color: #2C2C2C; */
    /* color: var(--neutral-light-color); */
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.header-top-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.header-title {
    display: flex;
    flex-direction: column;
}

.header-title h1 {
    margin: 0;
}

.header-title p {
    margin: 0;
}

.header-top-right {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-right: 20px;
    gap: 10px;
}

.hamburger {
    display: none;
    padding-bottom: 20px;
    font-size: 1.7rem;
}

nav {
    display: flex;
    width: 100%;
    /* gap: 10px; */
    align-items: end;
    padding-bottom: 20px;
    padding-right: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    gap: 10px;
}

nav ul a {
    color: var(--neutral-light-color);
    text-decoration: none;
}

.dark-light-toggle {
    display: flex;
    align-items: end;
    /* padding-right: 20px; */
    padding-bottom: 20px;
}

.active {
    text-decoration: underline;
}

.active-view {
    background-color: var(--accent-color);
}

.directory {
    text-align: center;
}

.business {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}

.business-header {
    display: flex;
    flex-direction: column;
}

.business-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.business-contact-info p {
    text-align: center;
    margin: 4px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.dashboard div {
    background-color: var(--primary-color);
}

.dashboard h3 {
    background-color: var(--neutral-dark-color);
    color: var(--neutral-light-color);
    margin: 0;
    padding: 10px;
}

.events {
    grid-column: 1 / 3;
    border-radius: 10px;
}

.weather-current {
    border-radius: 10px;
}

.weather-current h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.events h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.weather-forecasted {
    border-radius: 10px;
}

.weather-forecasted h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.weather-current-parts {
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* line-height: .5em; */
    /* padding-left: 10px; */
}

.weather-details p {
    margin: 4px;
}

.weather-forecasted p {
    padding-left: 10px;
}

.businesses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.business {
    border-radius: 10px;
    background-color: var(--highlight-color);
    padding-bottom: 10px;
}

.business-header {
    border-bottom: 1px solid var(--secondary-color);
    text-align: center;
    padding: 10px;
    background-color: var(--neutral-dark-color);
    color: var(--neutral-light-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.business-header h4 {
    margin: 0;
    font-size: 1.2rem;
}

.business-header p {
    margin: 0;
}

.business-details {
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.business-details img {
    padding: 5px;
}

.business-details p {
    margin: 4px;
}

#businesses-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.grid-link {
    color: var(--neutral-dark-color);
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.chamber-contact-info {
    padding: 10px;
}

.chamber-contact-info p {
    margin: 4px;
}

.social-media-links {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
}

.project-info {
    padding: 10px;
}

.project-info p {
    margin: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: var(--neutral-dark-color);
    color: var(--neutral-light-color);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Zebra striping */
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.table-link {
    overflow-wrap: break-word;
}

.table-business-name {
    font-weight: bold;
}

.animate-me {
    display: none;
}

.hero {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-overlay {
    position: absolute;
    top: 80%;
    /* Centers the overlay vertically */
    left: 50%;
    /* Centers the overlay horizontally */
    transform: translate(-50%, -50%);
    /* Adjusts the exact position */
    text-align: center;
    width: 100%;
}

.join-button {
    background-color: var(--neutral-light-color);
    color: var(--neutral-dark-color);
    padding: 15px 30px;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* transition: background-color 0.3s ease; */
}

.join-button:hover {
    background-color: var(--neutral-dark-color);
    /* Darker CTA button color on hover */
    color: var(--neutral-light-color);
}

.events ul li {
    padding: 5px;
}

#weather-icon {
    padding: 15px;
}

.business h4 {
    padding-bottom: 10px;
    font-size: 1.3rem;
}

#hero-small {
    display: none;
}

#hero-large {
    display: block;
}

.join-form {
    border: 1px solid var(--neutral-dark-color);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--accent-color);
    min-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.join-form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.join-form label {
    display: block;
    /* margin-bottom: 0px; */
    font-weight: bold;
}

.join-form input {
    margin-bottom: 15px;
}

.join-form select {
    margin-bottom: 15px;
}

.join-form textarea {
    margin-bottom: 15px;
}

#submit-button {
    padding: 10px;
    margin: 0 auto;
}

.join-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

.membership-cards {
    text-align: center;
}

.membership-card {
    border: 1px solid var(--neutral-dark-color);
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--neutral-dark-color);
}

#non-profit {
    animation: fadeInBounce-non-profit 1s ease-out;
}

#bronze {
    animation: fadeInBounce-bronze 1s ease-out;
}

#silver {
    animation: fadeInBounce-silver 1s ease-out;
}

#gold {
    animation: fadeInBounce-gold 1s ease-out;
}

.membership-card button {
    padding: 10px;
}

.thank-you-content {
    max-width: 800px;
}

.thank-you-content h2 {
    text-align: center;
}

.form-data {
    border: 1px solid var(--neutral-dark-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
}

.discover-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.discover-content .left-side-bar {
    text-align: center;
}

.left-card {
    border: 1px solid var(--neutral-dark-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    max-width: 300px;
    margin: 0 auto;
    /* padding: 10px; */
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.left-card p {
    text-align: left;
    padding: 10px;
}

.left-card img {
    border-radius: 20px;
    padding: 10px;
}

.discover-events p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.discover-content .main-content {
    text-align: center;
}

.main-content .discover-image {
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 0px;
}

.discover-image img {
    border-radius: 10px;
}

.discover-image img:hover {
    border: 3px solid var(--neutral-dark-color);
    margin: -3px;
}

.small-form-factor {
    display: none;
}

#welcome-message {
    text-align: center;
}

@keyframes fadeInBounce-non-profit {
    0% {
        opacity: 0;
        transform: translateX(50px); /* Start above the position */
    }
    50% {
        opacity: .5;
        transform: translateX(-10px); /* Bounce slightly below the final position */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Settle at the final position */
    }
}

@keyframes fadeInBounce-bronze {
    0% {
        opacity: 0;
        transform: translateX(50px); /* Start above the position */
    }
    60% {
        opacity: .6;
        transform: translateX(-10px); /* Bounce slightly below the final position */
    }
    100% {
        transform: translateX(0); /* Settle at the final position */
    }
}

@keyframes fadeInBounce-silver {
    0% {
        opacity: 0;
        transform: translateX(50px); /* Start above the position */
    }
    70% {
        opacity: .7;
        transform: translateX(-10px); /* Bounce slightly below the final position */
    }
    100% {
        transform: translateX(0); /* Settle at the final position */
    }
}

@keyframes fadeInBounce-gold {
    0% {
        opacity: 0;
        transform: translateX(50px); /* Start above the position */
    }
    80% {
        opacity: .8;
        transform: translateX(-10px); /* Bounce slightly below the final position */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Settle at the final position */
    }
}

dialog {
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
}

dialog[open] {
    display: block;
}

.modal-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-footer {
    text-align: right;
    margin-top: 15px;
}

.modal-footer button {
    padding: 8px 15px;
    font-size: 0.9em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-footer button.close {
    background-color: #f44336;
    color: white;
}

button.open-modal {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button.open-modal:hover {
    background-color: #0056b3;
}

@media (max-width: 699px) {
    .header-nav {
        display: none;
    }

    .dashboard {
        grid-template-columns: 1fr;
    }

    .events {
        grid-column: 1 / 2;
    }

    .businesses {
        grid-template-columns: 1fr;
    }

    footer {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.5rem;
    }

    .header-top-left img {
        width: 49px;
        height: auto;
    }

    main {
        margin: 0;
        max-width: 100%;
    }

    nav {
        display: none;
        /* grid-template-rows: 0fr; */
        transition: grid-template-rows 0.5s ease-out;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }

    ul.menu-links {
        list-style-type: none;
    }

    nav.active {
        /* grid-template-rows: 1fr; */
        display: flex;
        text-decoration: none;
    }

    nav ul li {
        text-align: center;
    }

    .header-top-right {
        align-items: center;
    }

    .dark-light-toggle {
        padding: 0px;
    }

    .hamburger {
        display: block;
        background-color: var(--neutral-dark-color);
        color: var(--neutral-light-color);
        border: none;
        padding: 0px;
        cursor: pointer;
        /* padding-right: 10px; */
    }

    .hamburger::before {
        content: "\2630";
    }

    .hamburger.open::before {
        content: "x";
        text-decoration: none;
        padding-right: 5px;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    th {
        display: none;
    }

    td {
        display: block;
        text-align: center;
        border: none;
        position: relative;
        /* padding-left: 50%; */
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }

    #hero-small {
        display: block;
    }

    #hero-large {
        display: none;
    }

    .join-form {
        min-width: 200px;
    }

    .join-form-grid {
        grid-template-columns: 1fr;
    }

    .join-form textarea {
        max-width: 250px;
    }

    .join-content {
        grid-template-columns: 1fr;
    }

    .discover-content {
        grid-template-columns: 1fr;
    }

    .large-form-factor {
        display: none;
    }

    .discover-image img:hover {
        border: none;
    }
}

@media (min-width: 700px) and (max-width: 900px) {

    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }

    .businesses {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }
}