:root {
    --primary-color: #4a90e2;
    --secondary-color: #50e3c2;
    --accent-color: #f5a623;
    --neutral-color: #4a4a4a;
    --background-color: #f2f2f2;
}

body {
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', 'Montserrat', sans-serif;
    background-color: var(--background-color);
}

h1, h2, h3 {
    color: var(--primary-color);
    width: 100%;
    text-align: center;
}

.header-top h1 {
    color: var(--accent-color);
}

p {
    color: var(--neutral-color);
}

nav {
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

header,
main,
footer {
    max-width: 800px;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-around;
    background-color: var(--primary-color);
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav a {
    color: var(--background-color);
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    /* background-color: var(--secondary-color); */
    /* color: white; */
    color: var(--accent-color);
}

footer {
    background-color: var(--neutral-color);
}

footer p {
    color: var(--background-color);
    width: 100%;
    text-align: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    background-color: var(--neutral-color);
}

.main-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
}

.course-work {
    grid-column: 1 / 3;
}

.certificate {
    grid-column: 1 / 4;
}

.active-nav-link {
    /* color: var(--background-color); */
    text-decoration: underline;
}

.montevideo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container figcaption {
    font-size: .8rem;
    color: #333;
    margin-top: 5px;
    text-align: center;
    font-style: italic;
}

section {
    border: 1px solid var(--neutral-color);
    margin: 10px;
}

.cert-filters {
    display: flex;
    flex-direction: horizontal;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--neutral-color);
    border-top: 1px solid var(--neutral-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

.cert-filter-item {
    background-color: var(--neutral-color);
    color: white;
    padding: 5px;
    margin: 2px;
    width: 20%;
    text-align: center;
}

.active {
    text-decoration: underline;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}

.course {
    text-align: center;
    background-color: var(--primary-color);
    margin: 5px;
    padding: 5px;
    color: white;
    font-size: 1.2rem;
}

.course-complete {
    background-color: var(--accent-color);
    /* color: var(--neutral-color); */
}

@media (max-width: 768px) {
    nav {
        display: none;
        /* flex-direction: column; */
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        text-align: center;
    }

    .hamburger {
        display: block;
    }

    nav.active {
        display: flex;
    }

    .main-top {
        grid-template-columns: 1fr;
    }

    .course-work {
        grid-column: 1 / 2;
    }

    .montevideo {
        grid-column: 1 / 2;
    }

    .certificate {
        grid-column: 1 / 2;
    }

    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
}